/* This file details the styles for the main elements in the header */

header {
	/* Width is implicitly set as it is a block element */
	position: fixed;
	background-color: #7CC6FE;
	height: 4.5em;
	display: flex;
	flex-direction: column;
	width: 100%;
	top: 0;
	box-shadow: 0 1px 5px 1px #333;
}


#header-content-container {
	width: 100%;  /* 960px at 16px font size */
	height: 100%;
	display: flex;
}

/* Display H1 and nav-menu side by side with varying width */
h1 {
	font-family: "Lobster", "Trebuchet MS";
	flex: 5%;
	margin: 0 20px;
	height: 100%;
	box-sizing: border-box;
	padding: 0.5em 0;
}

#nav-menu {
	flex: 40%;
	height: 100%;
}

#spacer {
	flex: 25%;
}

#search {
	flex: 30%;
	height: 100%;
	text-align: left;
	margin-right: 1.5em;
}
