html {
	height: 100%;
}

body {
	font-family: "Roboto", Helvetica, Verdana, sans-serif;

	/* Remove any initial margins and padding from the body */
	margin: 0;
	padding: 0;
	min-height: 100%;
	background-color: #efefef;
	display: flex;
}


/* Main Layout Styles */


main {
	background-color: #efefef;
	flex: 70%;
	margin-top: 4.5em;
}

.right-sidebar {
	background-color: #C1E0F7;
	flex: 30%;
	margin-top: 4.5em;
}

/* End Main Layout Styles */

.flex-box {
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}


a:visited {
	color: #000;
}

a:hover, .hover:hover + a {
	color: #BA1B1D;
}

a {
	font-weight: 700;
	text-decoration: none;
	color: #000000;
}

section {
	width: 100%;
	display: block;
}

figure img {
	margin: 0 auto;
}